.press__slider-container {
  border-left: 1px solid $yellow;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 263px;

  @media screen and (max-width: 768px) {
   border: none; 
  }
}