.press__link {
  margin: 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  border: 1px solid $yellow;
  padding: 12px 26px;
  border-radius: 50%;
  text-decoration: none;
  color: $yellow;

  &:hover {
    color: $deep-blue;
    background-color: $yellow;
    @include hover-animation;
  }
}