.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  min-height: 70px;
  padding: 0 50px;
  align-items: center;
  // position: relative;
  position: fixed;
  border-bottom: 1px solid $yellow;
  grid-auto-rows: 0;
  min-width: 1340px;
  background-color: $deep-blue;
  z-index: 100;
}