.header__button {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $deep-blue;
  color: $yellow;
  border: 1px solid $yellow;
  width: 360px;
}